*{
  font-family: 'Press Start 2P', cursive;
}

h1{
  font-size: 28px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.digits{
  padding: 35px;
  background-color: #2d692b;
  border-radius: 15px;
  border: 2px solid #3b3e42;
  margin: 20px 0;
}
.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: rgb(212, 22, 22);
}

.main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: slategray;
  padding: 50px;
  border-radius: 15px;
  border: 2px solid #3b3e42
}

button{
  padding: 15px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  border: 2px solid #bec5cc;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
  background-color: #3f648d;
}

#start{
  background-color: rgb(19, 163, 19);
}
#reset{
  background-color: darkred;
}