body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

button{
  padding: 15px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color:  #7fa8ce;
  border: 1px solid slategrey;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
  background-color: rgb(63, 100, 141);
}